body{
    background:#fff;
    width:auto;
    margin:0 auto;
    padding:0;
    min-height:300px;
    font-weight:normal;
    font-size:1em;
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix{clear:both;}

a{color:#0070c0;text-decoration: none;}
a:hover{text-decoration: underline;}

.pull-left{float:left;}
.pull-right{float:right;}

.text-left{text-align:left;}
.text-center{text-align:center;}
.text-right{text-align:right;}

.w-100p{width:100%;}
.w-50p{width:48%;}
.w-25p{width:23%;margin:20px 0 20px 20px;}
.w-200p{width:200px;margin:20px 10px 20px 10px;}
.wd-50{width:50px;}
.p-08{padding: 1px;}
.p-t-20{padding-top:20px;}
.p-t-40{padding-top:40px;}
.p-t-95{padding-top:95px !important;}
.fs-large{font-size:2.3em;}
.p-b-0{padding-bottom:0px !important;}

.fc-white{color:white;}

.fw-300{font-weight:300;}

.bc-01{background:#0070c0;}

/* -- header starts -- */
header{
    padding:0px 20px;
}
header span.logo{
    font-size: 2.3em;
    font-weight: 700;
    padding: 0 10px 0 0;
    text-transform: uppercase;
}
/* -- header ends -- */

.navigation ul {list-style: none;margin:5px}
.navigation ul li {display:inline;padding-right:30px;}
.navigation ul li a{color:#fff;}

.container{padding:30px 0 50px;}
.container1{padding:0 0 0px;margin:0 auto;width:100%;}
.mid-content{width:900px;margin: 0 auto;}
.mid-content-1{width:1030px;margin: 0 auto;}
.welcome-head{font-size:30px;}
.welcome-head-2{font-size:25px;padding-top:10px;}
.welcome-head-3{font-size:20px;padding-top:10px;}
.color-blue{color:#0070c0;}
.sub-head{font-size:22px;font-style: none;padding-top:20px;}
.head-row{background-color:#f3f3f3;padding-bottom:20px;}

.welcome-head-big{font-size:50px;}
.welcome-head-big-p2{font-size:35px;}
.welcome-head-big-p3{font-size:20px;padding:20px 80px;text-align:left;}
.btn-primary{border:none;width:120px;background:#0070c0;padding:8px;color:#fff;border-radius: 8px;}
.register-div a{color:#fff;}
.register-div {cursor: pointer;}

.top-left-menu ul{list-style:none;}
.top-left-menu ul li{display:inline;padding:1px;font-size:13px;}
.mid-content{width:90%;margin:0 auto;min-height:200px;padding-bottom:50px;}
.mid-content-form2{width:95%;margin:0 auto;min-height:200px;padding-bottom:30px;}
.mid-content-form2 .col-content{padding-top:0px !important;width:29.8%;margin:0 15px;padding-bottom:30px;}
.mid-content .col-content{width:29.8%;margin:0 15px;padding-bottom:30px;padding-top:60px;}
.mid-content-form2 h3{padding-top:40px;}
.mid-content-form2 h3,.col-content h3{color:#0070c0;}
.col-content img-div{padding-top:40px;}
.first-form-row{padding-left:30px;padding-bottom:20px;}
.input-element{width:320px;height:30px;border-radius: 5px;border:1px solid #888;padding:0 10px;}
.img-div{height:220px;width:350px;margin:0 auto;}
.input-select{width:300px;height:30px;border-radius: 5px;}
.sel-lang{padding-top:10px;}
.next-form{margin: 0 auto;}
.next-form a{color:#fff;}
.mid-content-bottom{margin: 0 auto;text-align: center;}
.col-content ul{list-style: none;padding-left:20px;}
.col-content ul li:first-child{color:#0070c0;font-size:18px;padding-bottom:8px;}
.col-content ul li{padding-top:8px;}
.col-content>ul>li>ul>li:first-child{color:#000;font-size:1em;}
.mid-content-category{width:80%;min-height:200px;padding-bottom:30px;margin:0 auto;}
.mid-content-category-1{width:80%;padding-bottom:20px;margin:0 auto;padding-top:20px;}
.box1-col{width:30%;}
.cat-box{width:250px;}
.back-ground-img{background-color:rgba(0, 0, 0, 0.5);;position: relative;height:25px;top:-36px;text-align: center;color:#fff;padding-top:7px;font-weight:bold;}
.box-bottom{height:45px;background-color:#f3f3f3;position: relative;top:-36px;text-align: center;padding:15px;}
.box-bottom ul{list-style: none;padding:0px;margin:0px;}
.box-bottom ul li{display: inline-block;padding:0px;margin:0px;}


/**6th-page-css**/
.col-57{width:57%;float: left;margin-left:15px;margin-right:15px;border-right:1px solid #f3f3f3;:}
.col-37{width:37%;float:left;margin-left:15px;margin-right:15px;}
.col-37 h3{color:#0070C0;}
.row-content{width:100%;padding-top:16px;}
.row-content-inner{width:100%;}
.col-33{width:28%;float:left;margin-left:15px;margin-right:15px;min-height:243px;}
.col-66{width:61%;float:left;margin-left:15px;margin-right:15px;min-height:243px;}
.col-50{width:42%;float:left;margin-left:15px;margin-right:15px;min-height:243px;}

.col-head{height:23px;background-color:#0070c0;text-align:center;color:#fff;padding-top:7px;text-transform: uppercase;}
.col-body{background-color:#f3f3f3;min-height:213px;}
.col-body ul{list-style:none;padding:0px;margin:0px;text-align:center;padding:15px 25px 25px 15px;line-height:1.8em;}
.col-body>ul>li{padding-bottom:8px;font-size:16px;}
.left-links ul{list-style:none;padding:0px;margin:0px;text-align:left !important;line-height:1.8em;padding-top:15px;}
.left-links>ul>li{padding-bottom:8px;font-size:16px;}
.left-links>ul>li.active{font-weight:bold;color:#0070C0;}